<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/main.css">
    <style>
      
      
    </style>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="joke">
                <h1> <%= joke %></h1>
            </div>
            <button type="button" id="btn">
                Click Me
            </button>
            <div class="display">
                <h1 id="type"></h1>
            </div>
        </div>
      
    </div>
    <script>
        const jokeType = '<%= jokeType %>'
        const btn = document.querySelector("#btn")
        const display = document.querySelector(".display")
        btn.addEventListener("click", () =>{
            display.textContent = jokeType
            display.style.fontSize = "3rem"
        })

    </script>
</body>
</html>