<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
    <style>
        form{
    margin: auto;
    max-width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: 5px 5px 5px rgb(146, 130, 130);
    margin-bottom: 30px;
    border: 2px solid black;
}
form input[type="text"]{
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
form label{
  margin-right: 10px;
  text-align: left;
  width: 50%;
}
form input[type="submit"]{
    padding: 10px 20px;
    border: none;
    text-align: center;
    border-radius: 10px;
    background-color: #333;
    color: white;
    transition: 1s;
    cursor: pointer;
}
form input[type="submit"]:hover{
    transform:rotate(360deg)
 
}

    </style>
</head>

<body>
    <form action="/jokes" method="POST">
        <label for="jokeText">Joke Text</label>
        <input type="text" name="jokeText" id="jokeText"><br>
        <label for="jokeType">Joke Type</label>
        <input type="text" name="jokeType" id="jokeType"><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>