<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <!-- <form action="/jokes" method="POST">
        <label for="jokeText">Joke Text</label>
        <input type="text" name="jokeText" id="jokeText"><br>
        <label for="jokeType">Joke Type</label>
        <input type="text" name="jokeType" id="jokeType"><br>
        <input type="submit" value="Submit">
    
        <h1></h1>
        <h1></h1>
    </form> -->

    
</body>
</html>